h1 {
    display: flex;
    justify-content: center;
    font-size: 100px;
}

body {
    background-color: darkgray;
}

button {
    background-color: crimson;
    border-radius: 3px;;
    border: 2px solid;
    font-size: 23px;
    padding: 15px 52px;
}


#butts {
    display: flex;
    justify-content: space-evenly;
}

#gameBoard {
    margin: auto;
    margin-top: 30px;
    display: table;
    border-collapse: collapse;
    border: 1px solid black;
    height: 750px;
    width: 750px;
    background-color: white;
}

#row {
    display: table-row;
    border-collapse: collapse;
}

#cell {
    display: table-cell;
    border-collapse: collapse;
}









/*
:root {
    --grid-rows: 1;
    --grid-cols: 1;
    
}


#gameboard {
    display: grid;
    grid-gap: 1em;
    grid-template-rows: repeat(var(--grid-rows), 1fr);
    grid-template-columns: repeat(var(--grid-cols), 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr);
    grid-column-gap: 0px; 
    grid-row-gap: 0px;
    
}


.griditem {
    padding: 1em;
    border: 1px solid black;
    text-align: center;
}




.hover {
    background-color: black;
}

*/